<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Giphy Search App!
  </h1>
</div>
<div>
  <table>
    <tr>
      <td>User Name</td>
      <td><input [id]="txtUserId"></td>
    </tr>
    <tr>
      <td>Search By</td>
      <td><input type="text" [(ngModel)]="searchKeyWord"> </td>
    </tr>
    <tr>
      <td><img src="/assets/images/searchButton.png" (click)="displayImages()" width="60" height="60"></td>
      <td><img src="/assets/images/resetbutton.jpg" width="60" height="60"></td>
    </tr>
  </table>
</div>
<div [id]="imageList">
  <table>
      <tr *ngFor="let item of response.data;">
          <td>
              <img [src]="item.images['fixed_height_still']['url']"
                   [width]="item.images['fixed_height_still']['width']"
                   [height]="item.images['fixed_height_still']['height']" >
          </td>
      </tr>
  </table>

</div>

